@model List<Product>
@{
    ViewData["Title"] = "Index";
}

<h1>Liste des produits</h1>
<div class="row">
    <a class="col btn btn-dark" asp-controller="Product" asp-action="FormProduct">Ajouter un produit</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach(Product p in Model)
        {
        <tr>
            <th><img width="50px" src="@p.UrlImage" /></th>
            <th>@p.Title</th>
            <th>@p.Price €</th>
            <th><a asp-action="AddProduct" asp-controller="Panier" asp-route-id="@p.Id" class="btn btn-dark">Ajouter au Panier</a></th>
        </tr>
        }
    </tbody>
</table>